<div class="container">
  <h2><%= @list.name %></h2>

  <ul>
    <% @list.categories.each do |category| %>

    <%   if category.member_type == "Movie" %>
        <li>
            <%= link_to "Movie : #{category.member.title}", "/movies/#{category.member.id}"  %>
            <%= link_to "remove", "/removeitem/lists/#{category.id}" %>
        </li>

    <% elsif category.member_type == "Director" %>
        <li>
            <%= link_to "Director : #{category.member.name}", "/directors/#{category.member.id}"  %>
            <%= link_to "remove", "/removeitem/lists/#{category.id}" %>
        </li>
    <% elsif category.member_type == "Actor" %>
        <li>
            <%= link_to "Actor : #{category.member.name}", "/actors/#{category.member.id}"  %>
            <%= link_to "remove", "/removeitem/lists/#{category.id}" %>
        </li>
      <% end %>
    <% end %>

  </ul>

  <%= link_to "Edit name", edit_list_path(@list) %>
  <br>
  <%= link_to "Delete collection", list_path(@list), :method => 'delete' %>
</div>
