<div class="container">
  <div class="row flex justify-content-center">
    <div class="col-5">
  <h2><%= @list.name %></h2>

  <ul>
    <% @list.categories.each do |category| %>

    <%   if category.member_type == "Movie" %>
        <li>
            <%= link_to "Movie : #{category.member.title}", "/movies/#{category.member.id}"  %>
            <%= link_to "remove", "/removeitem/lists/#{category.id}", class: "btn btn-sm btn-light" %>
        </li>

    <% elsif category.member_type == "Director" %>
        <li>
            <%= link_to "Director : #{category.member.name}", "/directors/#{category.member.id}"  %>
            <%= link_to "remove", "/removeitem/lists/#{category.id}", class: "btn btn-sm btn-light" %>
        </li>
    <% elsif category.member_type == "Actor" %>
        <li>
            <%= link_to "Actor : #{category.member.name}", "/actors/#{category.member.id}"  %>
            <%= link_to "remove", "/removeitem/lists/#{category.id}", class: "btn btn-sm btn-light" %>
        </li>
      <% end %>

<% end %>
<%= link_to "Edit name", edit_list_path(@list), class: "btn btn-sm btn-dark" %>

<%= link_to "Delete collection", list_path(@list), :method => 'delete', class: "btn btn-sm btn-dark" %>
  </div>
  <div class="d-flex flex-wrap justify-content-around col-7">

    <% @list.categories.each do |category| %>
      <div class="movie-card">
            <%= link_to image_tag(category.member.image, class: "card-img-top" ), "/movies/#{category.member.id}"  %>
      </div>
    <% end %>


  </div>


</div>
</div>
