<div class="container  d-flex flex-row justify-content-center">
  <div class="card col-8 centered-form">

  <%= form_for @movie do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>
  <div class="form-group">
    <%= f.label :Released %>
    <%= f.number_field :year %>
  </div>
  <div class="form-group">
    <%= f.label :Summary %>
    <%= f.text_field :plot %>
  </div>
    <%= f.submit 'Update', :class => "btn btn-primary" %>
  <% end %>

</div>
</div>
