<% @tmdb_results.each do |entry| %>

  <% if entry["poster_path"].present? %>
    <% image_url = "http://image.tmdb.org/t/p/" + "w154" + entry["poster_path"] %>
    <%= image_tag image_url %>
  <% end %>


  <h3><%= entry["title"] %></h3>
  <p>Plot : <%= entry["overview"] %></p>
  <p>Released : <%= entry["release_date"] %></p>

  <% db_movie = Movie.where(title:entry["title"]) %>

  <% if db_movie.present? %>
    <%= link_to "View Details", "/movies/#{db_movie.first[:id]}" %>

  <% else %>
    <%= form_tag("/fetch/movies", method: "post") do%>

      <%= hidden_field_tag(:id, entry["id"]) %>
      <%= submit_tag("Add to database") %>
    <% end %>

  <% end %>

<% end %>
