
<div class="d-flex flex-row flex-wrap">

<% @tmdb_results.each do |entry| %>

  <div class="col3 movie-card">

    <% if entry["poster_path"].present? %>
      <% image_url = "http://image.tmdb.org/t/p/" + "w154" + entry["poster_path"] %>
      <%= image_tag image_url %>
    <% end %>

    <div class="">
      <h3 class=""><%= entry["title"] %></h3>
      <p class="">Released : <%= entry["release_date"] %></p>

                <% if false %>
                <p class="">Plot : <%= entry["overview"] %></p>
                <% end %>

      <div class="">
              <% db_movie = Movie.where(title:entry["title"]) %>
      <% if db_movie.present? %>
        <%= link_to "View Details", "/movies/#{db_movie.first[:id]}", class: "btn btn-primary" %>

      <% else %>
        <%= form_tag("/fetch/movies", method: "post") do%>

          <%= hidden_field_tag(:id, entry["id"]) %>
          <%= submit_tag("Add to database", class: "btn ") %>
        <% end %>

      <% end %>
      </div>
    </div>

  </div>
<% end %>

</div>
