<div class="container">

  <div class="row flex justify-content-center">
    <div class="col-7">

      <h2 ><%= @movie.title %></h2>
      <ul>
        <li>
          <b><em>Released :</em></b><%= @movie.year %></li>
        <li>
          <% if @movie.director.present? %>
            <b> <em>Director:</em></b>
            <%= link_to @movie.director.name, director_path(@movie.director) %>
          <% end %>
        </li>
        <li>
          <b>  <em>Plot summary:</em></b>
          <%= @movie.plot %></li>
        <% if @movie.actors.present? %>
          <li>
          <b>  <em>Starring :</em> </b>
            <% @movie.actors.each do |actor| %>
              <%= link_to "#{actor.name}, " , actor_path(actor) %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <% if @current_user.present? %>

        <%= form_tag '/addtolist/movies' do %>
        <label>Add Movie to  :
        </label>
        <select name="list_id">
          <option value=""></option>
          <% @current_user.lists.each do |list| %>
            <option value="<%= list.id %>"><%= list.name %></option>
          <% end %>
        </select>
        <%= hidden_field_tag 'movie_id', @movie.id %>
        <%= submit_tag "add", :class => "btn btn-outline-dark" %>
      <% end %>

      <% if @current_user.moderator == true %>
        <%= link_to "Edit details", edit_movie_path(@movie) %>

        <%= button_to "delete", {:controller => :movies, :action => 'destroy', :id => @movie.id }, :method => :delete, :class => "btn btn-outline-dark" %>
      <% end %>

    <% end %>
  </div>
  <div class="col-4">
    <% if @movie.image.present? %>
      <%= image_tag @movie.image%>
    <% end %>
  </div>
</div>

</div>
