<h1>Movies#show</h1>

<h2><%= @movie.title %></h2>
<% if @movie.image.present? %>
<%= image_tag @movie.image%>
<% end %>

<ul>
  <li>Released : <%= @movie.year %></li>
  <li>
    <% if @movie.director.present? %>
    Director: <%= @movie.director.name %>
    <% end %>
  </li>
  <li>Plot summary: <%= @movie.plot %></li>
  <% if @movie.actors.present? %>
  <li>Starring :
    <% @movie.actors.each do |actor| %>
      <%= "#{actor.name}, " %>
    <% end %>
  </li>
  <% end %>
</ul>

<%= link_to "Edit details", edit_movie_path(@movie) %>

<%= button_to "delete", {:controller => :movies,
      :action => 'destroy', :id => @movie.id }, :method => :delete %>
