<!DOCTYPE html>
<html>
  <head>
    <title>Hollywood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="">
      <a href="/" class="navbar-brand">Hollywood</a>
      <a href="/actors" class=" ">Actors</a>
      <a href="/directors" class=" ">Directors</a>
      <a href="/movies" class=" ">Movies</a>
      <a href="/lists" class=" ">Lists</a>

      <a href="/users" class=" ">Users</a>
      </div>
      <div class="">
      <% if @current_user.present? %>
        <!-- <%= link_to 'Email addresses', users_path if @current_user.admin? %> -->
        <%= link_to "Sign out #{ @current_user.email }", login_path, :method => 'delete', :class => "btn btn-sm btn-danger active" %>
      <% else %>
        <%= link_to 'Sign up', new_user_path, :class => "btn btn-sm btn-primary active" %>
        <%= link_to 'Sign in', login_path, :class => "btn btn-sm btn-success active" %>
      <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
